.btn{
      padding:10px 10px;
	border-width:2px;
	border-style:solid;
	border-color: black;
    border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}

.btn-primary{
         background-color:blue;
           color: white;
          

           
}

.btn-secondary{
      background-color:white;
         color:black;
         
         
}
.btn-danger{
      background-color:red;
         color:black;
         
}
.btn-warning{
      background-color: red;
         color:black;
         
}
.btn-darkness{
      background-color:yellow;
         color:black;
}
